// ***********************************
// FONTS
// ***********************************

@font-face {
  font-family: 'AdelleSansRegular';
  src: url("../css/fonts/AdelleSans-Thin.eot");
  src: url("../css/fonts/AdelleSans-Thin.eot?#iefix") format("embedded-opentype"),url("../css/fonts/AdelleSans-Thin.woff") format("woff"),url("../css/fonts/AdelleSans-Thin.ttf") format("truetype"),url("../css/fonts/AdelleSans-Thin.svg#AdelleSansRegular") format("svg");
  font-weight: 100;
  font-style: normal;
}